/* NavBar.css */
.NavBar {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #181717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 100;
  border-radius: 1rem;
}

.NavBar h3 {
  margin: 0;
  color: #b4aaaa;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.NavBar .Categories {
  display: flex;
  align-items: center;
}

.NavBar .Categories a {
  color: white;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 1rem;
  text-decoration: none;
}

.NavBar .Categories a:hover,
.CartWidget:hover {
  background-color: #413a3a; /* Cambiar el color al hacer hover */
}

.NavBar .Categories a.active {
  background-color: #ddd;
  color: #4e4949;
}

.CartWidget {
  background-color: #181717;
  margin-right: 10px;
  border: none;
}
